:root {

	--colour-pop: hsl(210,15%,94%);
	--colour-mid: hsl(210,15%,75%);
	/*--colour: hsl(210,15%,75%);*/
	--colour-dark: hsl(210,25%,30%);
	--colour-bg: hsl(210,25%,20%);

}







/*.colour-fill-pop {
	color: var(--colour-pop);
	fill: var(--colour-pop);
}
.colour-bg-pop {
	background-color: var(--colour-pop) !important;
}


.colour-fill {
	color: var(--colour);
	fill: var(--colour);
}
.colour-bg {
	background-color: var(--colour);
}

.colour-fill-bg {
	color: var(--colour-bg);
}
.colour-bg-bg {
	background-color: var(--colour-bg);
}

.colour-fill-light {
	color: var(--colour-light);
	fill: var(--colour-light);
}
.colour-bg-light {
	background-color: var(--colour-light);
}

.colour-fill-dark {
	color: var(--colour-dark);
	fill: var(--colour-dark);
}
.colour-bg-dark {
	background-color: var(--colour-dark);
}

.colour-fill-notice {
	color: var(--colour-notice);
	fill: var(--colour-notice);
}
.colour-bg-notice {
	background-color: var(--colour-notice);
}

.colour-fill-shade {
	color: var(--colour-shade);
	fill: var(--colour-shade);
}
.colour-bg-shade {
	background-color: var(--colour-shade);
}
*/

/*
.colour-bg {
	background-color: var( --colour );
}
.colour-bg-inv {
	background-color: var( --colour-inv );
}
.colour-bg-accent {
	background-color: var( --colour-accent ) !important;
}
.colour-bg-accent-alt {
	background-color: var( --colour-accent-alt ) !important;
}
.colour-bg-shade {
	opacity: 0.7;
	background-color: var( --colour-shade );	
}


.colour-fill-bg {
	color: var( --colour );
	fill: var( --colour );
}
.colour-fill-bg-inv {
	color: var( --colour-inv );
	fill: var( --colour-inv );
}
.colour-fill-accent {
	color: var( --colour-accent ) !important;
	fill: var( --colour-accent ) !important;
}
.colour-fill-accent-alt {
	color: var( --colour-accent-alt ) !important;
	fill: var( --colour-accent-alt ) !important;
}
.colour-fill-shade {
	color: var( --colour-shade );
	fill: var( --colour-shade );
}



.colour-fill-positive{
	color: var( --colour-positive );
	fill: var( --colour-positive );	
}
.colour-bg-positive{
	background-color: var( --colour-positive );
}

.colour-fill-negative{
	color: var( --colour-negative );
	fill: var( --colour-negative );	
}
.colour-bg-negative{
	background-color: var( --colour-negative );
}


.colour-fill-darken {
	color: hsla(10,5%,15%,0.93);
	fill: hsla(10,5%,15%,0.93);
}
.colour-bg-darken {
	background-color: hsla(10,5%,15%,0.93);
}

.colour-fill-button{
	color: var( --colour-button );
	fill: var( --colour-button );	
}
.colour-bg-button{
	background-color: var( --colour-button );
}
*/
