IP="127.0.0.1"
PORT="8600"
DATABASEURL="mongodb://127.0.0.1/app_data_temp"

NODE_ENV="development"
# rename this file in order to use as "vars.env"
# set node env to production on live server, development otherwise

SALT_ROUNDS="10"
HASH_SECRET="ThisIsA4UnkyHashAdded"

TOKEN_EXPIRE="604800"
TOKEN_SECRET="SuperSecr£tThinGHere"
